@font-face {
    font-family: Inter;
    src: url(../font/Inter2/Inter-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../font/Inter2/Inter-Black.ttf);
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../font/Inter2/Inter-Bold.ttf);
    font-style: normal;
}