.place__text_paragraph {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.place__text_paragraph:last-child {
    padding-top: 26px;
}

.place__text_paragraph:first-child {
    padding-top: 0px;
}

@media screen and (max-width: 768px) {
    .place__text_paragraph {
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .place__text_paragraph:last-child {
        padding-top: 25px;
    }

    .place__text_paragraph:first-child {
        padding-top: 0px;
    }    
}