.place__text_paragraph {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__text_paragraph:last-child {
    padding-top: 26px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__text_paragraph:last-child {
        padding-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__text_paragraph:last-child {
        padding-top: 25px;
    }
}