.place__website_link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 456px;
    min-width: 288px;
    opacity: 1;
}

.place__website_link:hover {
    opacity: 0.8;
}