.place__text {
    max-width: 484px;
    min-width: 288px;
    margin-left: 40px;
    margin-top: 0px;
    font-weight: 400;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .place__text {
        max-width: 484px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__text {
        max-width: 456px;
        margin-left: 32px;
    }
}

@media screen and (min-width: 340px) and (max-width: 768px) {
    .place__text {
        max-width: 352px;
        margin-left: 28px;
    }
}

@media screen and (max-width: 339px) {
    .place__text {
        max-width: 90%;
        margin-left: 0px;
        margin-top: 32px;
    }
}