@font-face {
    font-family: 'Inter';
    src: url('../../../a.rahmatullin/russian-travel/fonts/Inter-Regular.ttf') format('truetype'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Regular.otf') format('opentype'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Regular.woff') format('woff'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../a.rahmatullin/russian-travel/fonts/Inter-Bold.ttf') format('truetype'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Bold.otf') format('opentype'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Bold.woff') format('woff'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../a.rahmatullin/russian-travel/fonts/Inter-Black.ttf') format('truetype'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Black.otf') format('opentype'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Black.woff') format('woff'),
    url('../../../a.rahmatullin/russian-travel/fonts/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}