.cover__background {
    position: relative;
    width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__background::before {
    content: "";
    background-image: url(../__background/cover-trains.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.cover__background:hover::before {
    opacity: 0.2;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .cover__background {
        width: calc((96vw - 1024px) * 0.5 + 1024px);
        height: 62.5vw;
    }
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100%;
        height: 62.5vw;
    }
}