.cover__title {
    width: 560px;
    height: 152px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    padding-bottom: 32px;
    white-space: pre-line;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
  @media screen and (max-width: 767px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
  }  