.place {
    display: flex;
    flex-wrap: wrap;
    max-width: 984px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 1025px) {
    .place {
        margin-left: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place {
        margin-left: 48px;
        max-width: 928px;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .place {
        margin-left: 24px;
        margin-bottom: 73px;
        max-width: 720px;
    }
}

@media screen and (min-width: 321px) and (max-width: 380px) {
    .place {
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-bottom: 50px;
        max-width: 320px;
    }
}