.place__website {
    max-width: 484px;
    margin-left: 40px;
    margin-bottom: 48px;
    align-self: flex-end;
    display: flex;
    direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .place__website {
        width: 484px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__website {
        width: 456px;
        margin-left: 32px;
    }
}

@media screen and (min-width: 340px) and (max-width: 768px) {
    .place__website {
        width: 352px;
        margin-left: 28px;
    }
}

@media screen and (max-width: 339px) {
    .place__website {
        width: 90%;
        margin-left: 0px;
        margin-bottom: 32px;
    }
}